.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
}
.ex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 23px;
    padding: 20px;
    gap: 0;
    height: 300px;   
}

.listcontainer{
    padding: 20px 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.ex1 img{
    height: 65px;
    width: auto;
}
.container ul{
    list-style: none;
}
.container ul li{
    margin-bottom: 20px;
}
