.lang_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 10px;
}


.container h1{
    display: inline;
    margin-left: 90px;
    font-size: 40px;
}
.lang_item {
    position: relative;
    width: 130px;
    height: 130px;
    
}

.lang_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 24px;
    font-weight: 200;
    font-family: "Monoton", sans-serif;
    transition: opacity 0.4s ease-in-out;
}

.lang_logo {
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.lang_item:hover .lang_name {
    opacity: 1;
    z-index: 2;
    
    padding: 10px 20px;
    
}

.lang_item:hover {
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.4s ease-in-out;

}

.lang_item:hover .lang_logo {
    transform: scale(1.5);
    opacity: 0.2;
}