.container {
    display: flex;
    gap: 80px;
    justify-content: space-between;
  }

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.name{
    font-size: 60px;
    font-weight: bold;
    color:white;
    margin-bottom: 0;
}
.desc{
    font-size: 25px;
}
.myFont {
  font-size: 60px; /* Example increased font size */
}
.fname{
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
    color: rgb(158, 158, 158);
}

.imgContainer {
    position: relative;
  }
  .imgContainer:hover{
    box-shadow: 27px 25px 50px -20px rgba(203,57,229,1);
    transition: 0.3s;
}


  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .buttons{
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 64px;
    }
  
    .brands{
      width: 100%;
    }
  }